<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proxecto</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

    <header class="fixed-top">
    <div class="d-flex justify-content-between pb-2">
        <h1 class="ms-5 mt-4">Rogelio Santos Queiruga</h1>
        
        <div id="usuarios" class="mt-4 me-5">
            <!--<a href="logout" class="btn btn-warning ms-3">Cerrar sesión</a>-->

            <a href="register" class="h6 mt-2 btn btn-success text-end me-3">Registrarse</a>
            <a href="login" class="h6 mt-2 btn btn-primary text-end">Acceder</a>
            

        </div>
    </div>

    <div id="navbar" class="d-flex">
        <a href="/" class="btn w-25 p-3 rounded-0">Inicio</a>
        <a href="info" class="btn w-25 p-3 rounded-0">Información</a>
        <a href="imaxes" class="btn w-25 p-3 rounded-0">Imaxes</a>
        <a id="actual" href="videos" class="btn w-25 p-3  rounded-0">Vídeos</a>
        <a href="publicacions" class="btn w-25 p-3 rounded-0">Publicacións</a>
    </div>

    </header>

    <article>
    <div id="centro" class="d-flex justify-content-between m-3 fixed-left">
        <div class="border h-50">
            Publicidade
        </div>

        <section class="w-75 text-left bottom-scroll mb-5 container">
            <h1 class="mb-5 p-3">Vídeos</h1>
            <div class="row">
                <div class="col-8">
                </div>
            </div>
        </section>

        <div class="border h-50">
            Publicidade
        </div>
    </div>

    </article>

    <footer class="d-flex p-1 fixed-bottom justify-content-around">
        <p class="h5 text-white">Instagram: <a class="text-black" href="https://www.instagram.com/rogeliosantosqueiruga/?hl=es" target="_blank">@rogeliosantosqueiruga</a></p>
        <p class="h5 text-white">Facebook: <a class="text-black" href="https://www.facebook.com/olabradorqueescribedendeomar/photos" target="_blank">olabradorqueescribedendeomar</a></p>
        <p class="h5 text-white">Twitter: <a class="text-black" href="https://twitter.com/QueirugaRogelio" target="_blank">@queirugarogelio</a></p>
    </footer>

</body>
</html>